<h1>Your Rooms List</h1>

<% unless @rooms.nil? %>
	<% @rooms.each do |room| %>
		<%= link_to room.name, room %><br />
	<% end %>
<% else %>
	<p>There are no rooms</p>
<% end %>

<hr />

<%= link_to('Create a new room','/rooms/new') %>
